@import url('https://fonts.googleapis.com/css?family=Quicksand');
html {
	height: 100%;
}
body 
{ 
  min-height: 100%;
  margin: 0;
  text-align: center;
  background: url("ocean.jpg");
  background-size: cover;
  color: #fff;
  font-family: Quicksand;
}
hr  {
  width: 300px;
 }
p{ font-size: 22px; }
h1
{ text-align: center;

}
.overlay 
{
   background: rgba(90, 90, 90, 0.8)
}